@import url(fontawesome-all.min.css);

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-display:swap;}

@font-face{
	src: format();
	font-display: swap;
	font-family: 'Courier New', Courier, monospace;
}

body{

    font-family: monospace;
    background-color:#DFDFDF;    

}
.mainSectionStyle{

    padding:4em 4em 4em 4em;

}
.secondarySectionStyle{

    width: auto;
    border-radius: 10px;
    padding:4em 4em 4em 4em;
    background-color:#DFDFDF;
    box-shadow: 6px 6px 16px rgb(163,177,198,0.6), -6px -6px 16px  rgba(255,255,255, 0.6);

}
html{

    color:rgba(255,255, 255, 255);

}

/* Headers*/

/* Header type 1 */
h1.majorH{

    border-radius: 40px;
    padding: 0.5em 0.5em 0.5em 1em;
    color:#DFDFDF;
    font-size: 24pt;
    font-weight: bold;
    background-color: #404040;
    box-shadow: 6px 6px 16px rgb(163,177,198,0.6), -6px -6px 16px  rgba(255,255,255, 0.6);


}
h1.minorH{

    color:#404040;
    font-size: 20pt;
    position: relative;
    padding-bottom: 0.5em;


}
h1.minorH::after {

    background-image: -moz-linear-gradient(to right,#404040,rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(to right,#404040,rgba(0,0,0,0));
    background-image: -ms-linear-gradient(to right,#404040,rgba(0,0,0,0));
    background-image: linear-gradient(to right,#404040,rgba(0,0,0,0));
    -moz-transition: max-width .2s ease;
    -webkit-transition: max-width .2s ease;
    -ms-transition: max-width .2s ease;
    transition: max-width .2s ease;
    border-radius: .2em;
    bottom: 0;
    content: '';
    height: .1em;
    position: absolute;
    right: 0;
    width: 100%;
    margin-bottom: 0.4em;
}

/* Header type 2 */
h2.majorH{


    border-radius: 40px;
    padding: 0.25em 0.25em 0.25em 1em;
    color:#DFDFDF;
    font-size: 20pt;
    background-image: -moz-linear-gradient(to right,#404040,rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(to right,#404040,rgba(0,0,0,0));
    background-image: -ms-linear-gradient(to right,#404040,rgba(0,0,0,0));
    background-image: linear-gradient(to right,#404040,rgba(0,0,0,0));

}
h2.minorH{

    color:#404040;
    font-size: 20pt;

}


.genericP{

    color:#404040;
    font-size: 16pt;

}

.imgScale{

    padding-top: 4em;
    max-width: 360px;
    max-height: 360px;


}


a{

    list-style: none;
    color: #404040;
    font-family: monospace;
    text-decoration: none;

}
.padderS{

    padding: 2em 2em 2em 2em;

}
.padderL{

    padding: 4em 8em 4em 8em;
    
}
/* Split */

.split {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

    .split > * {
        width: calc(50% - 2.5em);
    }

    .split > :nth-child(2n - 1) {
        padding-right: 2.5em;
        border-right: solid 1px #404040;
    }

    .split > :nth-child(2n) {
        padding-left: 2.5em;
    }

    .split.style1 > :nth-child(2n - 1) {
        width: calc(66.66666% - 2.5em);
    }

    .split.style1 > :nth-child(2n) {
        width: calc(33.33333% - 2.5em);
    }

    @media screen and (max-width: 1680px) {

        .split > * {
            width: calc(50% - 2em);
        }

        .split > :nth-child(2n - 1) {
            padding-right: 2em;
        }

        .split > :nth-child(2n) {
            padding-left: 2em;
        }

        .split.style1 > :nth-child(2n - 1) {
            width: calc(66.66666% - 2em);
        }

        .split.style1 > :nth-child(2n) {
            width: calc(33.33333% - 2em);
        }

    }

    @media screen and (max-width: 980px) {

        .split {
            display: block;
        }

            .split > * {
                border-top: solid 1px #404040;
                margin: 4em 0 0 0;
                padding: 4em 0 0 0;
                width: 100% !important;
            }

            .split > :nth-child(2n - 1) {
                border-right: 0;
                padding-right: 0;
            }

            .split > :nth-child(2n) {
                padding-left: 0;
            }

            .split > :first-child {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
            }

    }

    @media screen and (max-width: 736px) {

        .split > * {
            margin: 3em 0 0 0;
            padding: 3em 0 0 0;
        }

    }
.myPortrait{

    max-width:100%;
    max-height: 1024px;

}

@media screen and (max-width:1280px){

    .mainSectionStyle{

        padding:1em 1em 1em 1em;
    
    }
    .secondarySectionStyle{

        padding:1em 1em 1em 1em;
    
    }
    .genericP{

        font-size: 10pt;
    }
    h1.majorH{

        font-size: 16pt;
    
    }
    h1.minorH{

        color:#404040;
        font-size: 14pt;
    
    }
    h2.majorH{

        font-size: 16pt;
    
    }
    h2.minorH{

        color:#404040;
        font-size: 14pt;
    
    }
    .padderS{

        padding: 1em 1em 1em 1em;
    
    }
    .padderL{
    
        padding:1em 1em 1em 1em;
    
    }
    .scaler{

        max-width: 100%;

    }
    .footer > .padderS > .split > * {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

}
.spacer{

    height: 1em;
    width: 1em;

}
/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 0.75em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0;
        }

        ul.icons li > a, ul.icons li > span {
            border: 0;
        }

            ul.icons li > a .label, ul.icons li > span .label {
                display: none;
            }
            .icon {
                text-decoration: none;
                border-bottom: none;
                position: relative;
                color: #404040;
            }
        
                .icon:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    text-transform: none !important;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 400;
                }
        
                .icon > .label {
                    display: none;
                }
        
                .icon:before {
                    line-height: inherit;
                }
        
                .icon.solid:before {
                    font-weight: 900;
                }
        
                .icon.brands:before {
                    font-family: 'Font Awesome 5 Brands';
                    font-size: large;
                    font-display: swap;
                }
        
                .icon.major {
                    width: 2.5em;
                    height: 2.5em;
                    display: block;
                    background: #efeeee;
                    border-radius: 100%;
                    color: #DFDFDF;
                    text-align: center;
                    line-height: 2.5em;
                    margin: 0 0 1.3em 0;
        
                }
        
                    .icon.major:before {
                        font-size: 1.25em;
                    }
        
                        .wrapper.style1 .icon.major:before {
                            color: #DFDFDF;
        
                        }
        
                        .wrapper.style1-alt .icon.major:before {
                            color: #DFDFDF;
        
                        }
        
                        .wrapper.style2 .icon.major:before {
                            color: #DFDFDF;
        
                        }
        
                        .wrapper.style2-alt .icon.major:before {
                            color: #DFDFDF;
        
                        }
        
                        .wrapper.style3 .icon.major:before {
                            color: #DFDFDF;
        
                        }
        
                        .wrapper.style3-alt .icon.major:before {
                            color: #DFDFDF;
        
                        }            
.footer{

    list-style: none;
    border-radius: 40px;
    margin: 1em;
    background-color:#DFDFDF;
    box-shadow: 6px 6px 16px rgb(163,177,198,0.6), -6px -6px 16px  rgba(255,255,255, 0.6);

}
.footerStyle{

    text-align: center;
    

}
.footerStyle > nav > ul{

    list-style: none;


}
.footerStyle > nav > ul > li{

    display: inline-block;
    list-style: none;
    color: #404040;
    font-family: monospace;
    font-size: 12pt;
    margin-right: 1em;

}
.footPadder{
    padding: 1em;
}
.header{

    border-radius: 10px;

    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: inherit;
    cursor: default;
    margin: 1em;
    padding: 0.25em 1.0em;
    text-align: right;
    border-radius:70px;
    background-color:#dfdfdf;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.6);

}


.header nav{

    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: inherit;

}
.header nav > ul{

    margin: 0;
    padding: 0;
   

}
.header nav > ul > li{

    display: inline-block;
    padding: 0;
    vertical-align: middle;
    padding-left: 0.5em;
    color:#404040;

}
/* sidebar */
.sidebar{

    padding: 1.5em 1.5em .5em;
    background-color: #dfdfdf;
    cursor: default;
    height: 94%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: auto;
    z-index: 10000;
    margin: 1em;
    border-radius: 20px;


}
.sidebar > .inner{
    display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			-moz-transition: opacity 1s ease;
			-webkit-transition: opacity 1s ease;
			-ms-transition: opacity 1s ease;
			transition: opacity 1s ease;
			min-height: 100%;
			opacity: 1;
			width: 100%;
}
.sidebar nav > ul{

    padding: 1.5em 1.5em 0.5em 1.5em ;
    color: #292929;
    text-align: center;
    list-style: none;
    padding: 0;


}
.sidebar nav > ul > li{

    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
    -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
    -ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
    transition: opacity 0.15s ease, transform 0.75s ease;
    margin: 2.0em 0 0 0;
    opacity: 1;
    padding: 0;
    position: relative;
    line-height: 1em;
    list-style: none;

}
.siteSearch{

    background-color: #404040;
    border-style: none;
    padding:1em;
    border-radius: 8em;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.6);

  }
  .logo{

    width: 42px;
    height: 42px;
    padding-right: 1em;

}
.fa{
    margin-right: 10px;
}
.fas{
  margin-right: 10px;
}
.fas::before{

  border-bottom:none;

}
.bgDimmer{

    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #404040aa; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}
a {
    -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: none;
    color: inherit;
    text-decoration: none;
}

    a:hover {
        border-bottom-color: transparent;
        color: #404040aa;
    }
.button{

    background-color: #404040;
    color: #dfdfdf;
    padding: 0.25em 1em;
    border-radius: 1em;
    box-shadow: 6px 6px 16px rgb(163,177,198,0.6), -6px -6px 16px  rgba(255,255,255, 0.6);


}
.fas.fa-angle-left{

    padding: 0.5em 0.75em;
    background-color:#404040;
    color:#dfdfdf;font-size:1.5em;
    border-radius: 4em;
    box-shadow: 9px 9px 16px rgba(163,177,198,.6), -9px -9px 16px rgba(255,255,255,.6);

}