/*Design by Lewis Tansley */

@import url(fontawesome-all.min.css);

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-display:swap;}

@font-face{
	src: format();
	font-display: swap;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face{
    font-family: "OV";
    font-display: swap;
    src: url("fonts/GeosansLight.ttf");
}
@font-face{
    font-family: "GW";
    font-display: swap;
    src: url("fonts/PaulSignature.ttf");
}
body{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
    background-repeat: repeat;
    background-image: url("images/geometry2X.png");
    background-attachment: fixed;


}
.wrapper{
    height:100vh;
}
.background{
    background-color: #fff;
    background-repeat: repeat;
    background-image: url("images/geometry2X.png");
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    
}

.mainSectionStyle{
    padding: 2em 4em 2em 4em;
    border-radius: 25px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.secondarySectionStyle{
    padding:2em 4em 2em 4em;
    background-color:#40404050;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(2px);


}
html{

    color:#000;


}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
    backdrop-filter: blur(5px);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #404040aa;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }
/* Headers*/

/* Header type 1 */
h1.majorH{

    padding: 0.5em 0.5em 0.5em 1em;
    color:#000;
    font-size: 24pt;
    font-weight: lighter;
    text-transform: uppercase;


}
h1.minorH{

    border-radius: 25px;

    color:#000;
    font-size: 20pt;
    font-weight: lighter;
    position: relative;
    padding-bottom: 0.5em;


}

/* Header type 2 */
h2.majorH{


    padding: 0.25em 0.25em 0.25em 1em;
    color:#000;
    font-size: 20pt;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #000;
    


}
h2.minorH{
    padding: 0.25em 0.25em 0.25em 1em;
    color:#000;
    font-size: 20pt;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #000;
}
.genericP{
    color:#000;
    font-size: 16pt;
    font-weight: lighter;
}

.imgScale{
    padding-top: 4em;
    max-width: 360px;
    max-height: 360px;
}
a{
    list-style: none;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
.padderS{
    padding: 1em 2em 1em 2em;
}
.padderL{
    padding: 2em 8em 2em 8em;
    margin-right: auto;
    margin-left: auto;
    max-width: 75%;
}

.split > :nth-child(2n - 1) {
    border-bottom: solid 1px #000;
}

.myPortrait{
    margin: 1em;
    max-width:100%;
    max-height: 512px;
}

@media screen and (max-width:1280px){

    .mainSectionStyle{
        padding:1em 1em 1em 1em;
    }
    .secondarySectionStyle{
        padding:1em 1em 1em 1em;
    }
    .genericP{
        font-size: 10pt;
    }
    h1.majorH{
        font-size: 16pt;
    }
    h1.minorH{
        font-size: 14pt;
    }
    h2.majorH{
        font-size: 16pt;
    }
    h2.minorH{
        font-size: 14pt;
    }
    .padderS{
        padding: 0.5em 1em 0.5em 1em;
    }
    .padderL{
        padding:1em 1em 1em 1em;
    }
    .scaler{
        max-width: 100%;
    }
    .footer > .padderS > .split > * {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}
/* Icons */
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 0.75em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0;
        }

        ul.icons li > a, ul.icons li > span {
            border: 0;
        }

            ul.icons li > a .label, ul.icons li > span .label {
                display: none;
            }
            .icon {
                text-decoration: none;
                border-bottom: none;
                position: relative;
                color: #574b90;
            }
        
                .icon:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    text-transform: none !important;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 400;
                }
        
                .icon > .label {
                    display: none;
                }
        
                .icon:before {
                    line-height: inherit;
                }
        
                .icon.solid:before {
                    font-weight: 900;
                }
        
                .icon.brands:before {
                    font-family: 'Font Awesome 5 Brands';
                    font-size: large;
                    font-display: swap;
                }
        
                .icon.major {
                    width: 2.5em;
                    height: 2.5em;
                    display: block;
                    background: #000;
                    border-radius: 100%;
                    color: #000;
                    text-align: center;
                    line-height: 2.5em;
                    margin: 0 0 1.3em 0;
        
                }
        
                    .icon.major:before {
                        font-size: 1.25em;
                    }
     
.footer{
    list-style: none;
    margin-top: 1em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.footerStyle{
    text-align: center;
}
.footerStyle > nav > ul{
    list-style: none;
}
.footerStyle > nav > ul > li{
    display: inline-block;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    margin-right: 1em;
}
.footPadder{
    padding: 1em;
}
.header{
    list-style: none;
    background-color: #80808050;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: top 0.5s; 
    backdrop-filter: blur(5px);
}
.header nav{
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: inherit;
}
.header nav > ul{
    margin: 0;
    padding: 0;
}
.header nav > ul > li{
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    padding-left: 0.5em;
    color:#574b90;
}
/* sidebar */
.sidebar{

    background-color: #ffffff50;
    cursor: default;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 8;
    transition: ease 0.3s;
    opacity: 1;
    backdrop-filter: blur(10px);
    
}
.sidebar > .inner{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    min-height: 100%;
    opacity: 1;
    width: 100%;
}
.sidebar nav > ul{
    padding: 1.5em 1.5em 0.5em 1.5em ;
    color: #000;
    text-align: center;
    list-style: none;
    padding: 0;
}
.sidebar nav > ul > li{
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
    -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
    -ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
    transition: opacity 0.15s ease, transform 0.75s ease;
    margin: 2.0em 0 0 0;
    opacity: 1;
    padding: 0;
    position: relative;
    line-height: 1em;
    list-style: none;
}
.siteSearch{
    background-color: #000000aa;
    border-style: none;
    padding:1em;
    border-radius: 10px;
  }
.logo{
    height: 50px;
    padding-right: 1em;
}
@media screen and (max-width:100px){

    .logo{
        height: 40px;
        padding-right: 0.5em;
    }

}
@media screen and (max-width:500px){

    .logo{
        height: 30px;
        padding-right: 0.2em;
    }

}
.bigLogo{
    height: 75px;
}
.fa{
    margin-right: 10px;
}
.fas{
  margin-right: 10px;
}

.fas::before{
  border-bottom:none;
}

a {
    -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: none;
    color: #000;
    text-decoration: none;
}

    a:hover {
        border-bottom-color: transparent;
        color:#9e579d;
        cursor: pointer;
    
    }
.button{

    background-color: #fff;
    color: #000;
    padding: 0.25em 1em;
    border-radius: 25px;


}
.bigX{
    width: 25px;
    font-family: unset;
    height: 25px;
    padding: 0.5em 0.5em;
    font-size: 20px;
    border-radius: 100px;
    transition: ease 0.3s;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: text-bottom;
    padding-top: 14px;
    padding-right: 9px;
}
.bigX:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.iframe.scaler{
    width: 35em;
    min-height: 20em;
}

.card {
    max-width: 300px;
    width: 100%;
    display: grid;
    grid-template-rows: 300px 200px;
    grid-template-areas: "image" "text";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #707070;
    z-index: 0;
    background-color: #40404050;
    backdrop-filter: blur(2px);


  }
  .card-user {
    max-width: 500px;
    width: auto;
    display: grid;
    grid-template-rows: 400px 300px;
    grid-template-areas: "image" "text";
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transition: 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #404040;
    z-index: 0;
    box-shadow: 0px 0px 10px #00000070;

  }
  .card h2{
    color: inherit;

  }
  .card-image {
    grid-area: image;

  }
  .card-text {
    grid-area: text;
    overflow: hidden;  
    padding: 10px;
    max-height: 15%;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-20%);   
} 
.card-user-text {
    grid-area: text;
    overflow: hidden;  
    transition: 0.3s ease;
    padding: 10px;
    max-height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: auto;

} 
  .card-image1 {
    grid-area: image;
    background: url("images/convergence.jpg");
    background-size: cover;
    background-position-x: center;
  }  
  .card-image2 {            
    grid-area: image;
    background: url("images/Denial.jpg");
    background-size: cover;
    background-position-x: center;
  }  
  .card-image3 {
    grid-area: image;
    background: url("images/ba.jpg");
    background-size: cover;
    background-position-x: center;
  }  
  .card-image4 {
    grid-area: image;
    background: url("images/Logo.jpg");
    background-size: cover;
    background-position-x: center;
  }  
  .card-user-image {
    grid-area: image;
    background: url("images/me.jpg");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
  }  

  .card-text .date {
    color: #9e579d;
    font-size:13px;
  }
  .card-text p {
    color: inherit;
    font-size:15px;
    font-weight: 300;
    margin: 5%;
    overflow: hidden;

  }
  .card-text h2 {
    margin-top:10px;
    margin-bottom: 10px;
    font-size:22px;
    text-transform: uppercase;

  }  
  .card-stats {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: #fff;
    grid-area: stats; 
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    
  }  
 .statsText{
     color: #000;
     transition: 0.3s ease;
}
 .statsText:hover{
     color: #000;

 }
  card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    padding:10px;
  }  
  .card:hover {
    transform: scale(1.15);
    box-shadow: 0px 0px 25px #00000070;
    color: #fff;
    background-color: #574b90;
    z-index: 5;
    backdrop-filter: unset;


  }

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1000px){
 
    .cardContainer{
        display: block;
    }
    .card{
        margin-left: auto;
        margin-right: auto;
    }


}
.initialSpace{
    height: 1200px;
    z-index: -1;
}
.carouselContainer{
    position: fixed;
    background-position: center calc(72.8%);
    background-size: cover;
    width: 100%;
    height: 1200px;
    overflow: hidden;
    transition: 0.3s ease;
    color: #000;
    z-index: -2;
    background-image: url("images/ue4.jpg");
    filter: brightness(0.85) contrast(1.15) saturate(0.75);
    background-position-x: center;
    

}

.carouselText{
    width: inherit;
    height: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.carouselH1{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9vw;
    font-weight: 300;
    height: 50%;
    top: 30%;
    z-index: 1;
    position: relative;
    text-shadow: 0 0 15px #404040aa;

}
.carouselH2{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 55%;
    font-family: GW;
    font-size: 6vw;
    font-weight: 100;
    line-height: 1em;
    text-align: inherit;
    z-index: 2;
    position: relative;
    text-shadow: 0 0 25px #404040aa;

}

@media screen and (max-width:1600px){
 
    .carouselContainer{
        height: 1000px;
    }
    .initialSpace{
        height: 1000px;
    }

}
@media screen and (max-width:1400px){
 
    .carouselContainer{
        height: 800px;
    }
    .initialSpace{
        height: 800px;
    }

}
@media screen and (max-width:1200px){
 
    .carouselContainer{
        height: 600px;
    }
    .initialSpace{
        height: 600px;
    }

}
@media screen and (max-width:1000px){
 
    .carouselContainer{
        height: 400px;
    }
    .initialSpace{
        height: 400px;
    }

}
@media screen and (max-width:750px){
 
    .carouselContainer{
        height: 300px;
    }
    .initialSpace{
        height: 300px;
    }

}
@media screen and (max-width:500px){
 
    .carouselContainer{
        height: 250px;
    }
    .initialSpace{
        height: 250px;
    }

}

.backdrop{
    width: 100%;
}

.miniSectionContainer{
    background-color: #80808050;
    max-width: 100%;
    backdrop-filter: blur(2px);
}
.miniSectionStyle{
    max-width: 75%;
    text-transform: uppercase;
    padding: 1em 2em;
    text-align: left;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.miniSectionStyle::before, .miniSectionStyle:after{
    margin: 0.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    border: 2px solid #9e579d;
    content: "";
}
.miniSectionStyle::before{
    left: 0;
    border-right-width: 0;
}
.miniSectionStyle::after{
    right: 0;
    border-left-width: 0;
}
.spacer{
    padding-bottom: 50px;
}
.arrowIcon{
    font-weight: lighter;
    font-size: 28px;
}