body{

    background-color: black;
    margin: 0px;

}
img{

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */

}

.overlay{
  
  position: fixed; /* Sit on top of the page content */
  /* display: none;  Hidden by default */
  width: 60%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity:0.5;

}
.terminal{
    background: black;
    color: white;
    padding: 10px;
    height: 480PX;
    /* overflow: hidden;*/
    background-color: black;
    color:white;
    font-family: "consolas";
    text-shadow: 0 0 4px white;
    font-size: medium;

  }
  
  .line{
    background-color: black;
    color:white;
    font-family: "consolas";
    text-shadow: 0 0 4px white;
    display: table;
    width: 100%;
    font-size: medium;
  }
  
  .terminal span{
    background-color: black;
    color:white;
    font-family: "consolas";
    text-shadow: 0 0 4px white;
    display:table-cell; 
    width:1px;
    font-size: medium;

  }
  
  .terminal input{
    background-color: black;
    color:white;
    font-family: "consolas";
    text-shadow: 0 0 4px white;
    display:table-cell; 
    width:100%;
    border: none;
    background: black;
    color: white;
    outline: none;
    font-size:medium;
  }

  .faux{

    background: black;
    color: white;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
    /* overflow: hidden;*/
    background-color: black;
    color:white;
    font-family: "consolas";
    text-shadow: 0 0 4px white;
    font-size: medium;

  }
  pre{

    /* white-space: nowrap; */
    width:100%;
    animation: typing 4s steps(52, end);
    overflow: hidden;

  }

  @keyframes typing {

    from{

        width:0;

    }

}
.split {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

  .split > * {
    width: calc(50% - 2.5em);
  }

  .split > :nth-child(2n - 1) {
    padding-right: 2.5em;
  }

  .split > :nth-child(2n) {
    padding-left: 2.5em;
  }

  .split.style1 > :nth-child(2n - 1) {
    width: calc(66.66666% - 2.5em);
  }

  .split.style1 > :nth-child(2n) {
    width: calc(33.33333% - 2.5em);
  }
  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#imgContainer{

  border-style: DASHED;
  border-width: 5px;
  border-color: white;


}